{% extends "layout.html" %}
{% block content %}


<header>
<h1 style="text-align:center;">Contact</h1>

</header>

<hr>


<div class="row">
  <div class="col">
    <h3>Email</h3>
    <hr>
    <p>Math: luke dot a dot askew dot gr at dartmouth dot edu</p>
    <p>Personal: luke at lukeaskew dot xyz</p>

    <h3>Links</h3>
    <hr>
    <a href="https://github.com/lukeask" target="_blank">Github</a>
    <br>
    <a href="https://www.linkedin.com/in/lukeask/" target="_blank">Linkedin</a>


  </div>
  <div class="col">
    <h3>Address</h3>
    <hr>
    <p>Dartmouth College <br>
Mathematics Department <br>
6188 Kemeny Hall <br>
Hanover, NH 03755</p>
    <h3>Office</h3>
    <hr>
    <p>222 Kemeny Hall</p>
  </div>
</div>








{% endblock content %}
