{% extends "layout.html" %}

{% block content %}

<!--
  <h1>Courses</h1>
  {for course in courses}
  <p>course</p>
  { endfor }
-->
<hr>
<h4>Fall 2020 (Current)</h4>
<p></p>MATH 566 Introduction to Abstract Algebra I, Algebra: Chapter 0 by Paolo Aluffi
<p></p>MATH 517 Introduction to Real Analysis, Principles of Mathematical Analysis by Rudin
<p></p>MATH 560 Linear Algebra
<p></p>MATH 472 Introduction to Topology

<hr>
<h4>Spring 2020</h4>
<p></p>MATH 332 Partial Differential Equations, Partial Differential Equationsby Asmar
<p></p>MATH 405 Number Theory, Elements of Number Theory by Stillwell
<p></p>MATH 469, Linear Algebra II, Linear Algebra Done Right by Axler
<p></p>MATH 470 Euclidian and Non-Euclidian Geometry, Experiencing Geometry by Henderson and Taimina
<p></p>MATH 519  Complex  Variables  I,  Complex  Variables,  Introduction and Applications by Ablowitz and Fokas
<hr>
<h4>Fall 2019</h4>
<p></p>MATH 474 Differential Geometry, Differential Geometry:  A First Coursein Curves and Surfaces by Shifrin
<p></p>MATH 466 Abstract Algebra I, Algebra:  Abstract and Concrete by Good-man
<p></p>MATH 345 Differential Equations, Elementary Differential Equations byTrench
<p></p>MATH 317 Advanced Calculus of One Variable,  Elementary Analysis:The Theory of Calculus by Ross
<hr>
<h4>Spring 2019</h4>
<p></p>MAT 204 Calculus III, Calculus by Edwards and Larson
<p></p>MAT 255 Linear Algebra, Elementary Linear Algebra by Larson
<hr>
<h4>Fall 2018</h4>
<p></p>MAT 202 Calculus II, Calculus by Edwards and Larson
<hr>
<h4>Summer 2018</h4>
<p></p>MATH 366 Introduction to Abstract Algebra, Abstract Algebra: Theory and Applications by Judson (not for credit)
<hr>
<h4>Spring 2018</h4>
<p></p>MAT 201 Calculus I, Calculus by Edwards and Larson
<hr>
<h4>Fall 2017</h4>
<p></p>MAT 166 Pre Calculus, Precalculus by Miller and Gerken
<hr>
<h4>Spring 2017</h4>
<p></p>MAT 121 College Algebra, Precalculus by Miller and Gerken

<hr>
<p>*only math department courses listed</p>



{% endblock content %}
