{% extends "layout.html" %}

{% block content %}

<h1>Courses Completed</h1>

  {% for semester in semesters %}
  <hr>
  <h4> {{semester[0]}} {{semester[1]}} <h4>
  <hr>
    {% for course in courses %}

      {% if course.semester == semester[0] and course.year == semester[1]%}
      <h5>MATH {{course.number}} {{course.name}}</h5>
      <p>{{course.description}}</p>
      <p>Textbook: {{course.text}} by {{course.author}}</p>
      {% endif %}
    {% endfor %}



  {% endfor %}
  <h4>Spring 2017</h4>


<hr>






<p>*only math department courses listed</p>



{% endblock content %}
