{% extends "layout.html" %}
{% block content %}


<header>
    <h1 style="text-align:center;">Directed Reading Program</h1>
</header>
<hr>
<p>
    I am a mentor for Dartmouth's <a href="https://math.dartmouth.edu/~drp/index.html" target="_blank">Directed Reading
        Program</a>. If you are an undergraduate at Dartmouth, please feel free to email me about any of the projects
    listed below and to mention them in your DRP application. If you have an idea for a project which seems to align
    with my interests, please get in touch! If you are not an undergraduate at Dartmouth but are still interested in a
    project, I may still be able to offer a directed reading over zoom depending on my availability.

</p>

<hr>


<h3>Offered Projects</h3>
<hr>


<h5>Algebraic Geometry in Coding Theory and Cryography</h5>
<p>Book: Algebraic Geometry in Coding Theory and Cryptography Harald Niederreiter and Chaoping Xing </p>
<p>Prerequisites: Math 25 or 31 or 71 or 75 or (CS 55 and CS 30) or Equivalent</p>
<p>Notes: This project would be ideal for either a math student interested in algebra, geometry, and number theory, or
    for a computer science student interested in how mathematical structure is used to get data from one computer to
    another securely. I want to read this book with you because it uses releatively few prerequisites to do
    some very cool things like proving the Hasse-Weil inequality. Specific topics will be tailored to student interests.</p>
<br>

<h5>Arithmetic Geometry</h5>
<p>Book: Introduction to Arithmetic Geometry (Notes) by Bjorn Poonen</p>
<p>Prerequisites: Math 71 or Math 31 or Equivalent</p>
<p>Notes: Arithmetic geometry studies the solutions to polynomial equations over the rational numbers and finite fields.
    To do
    this, we can change our perspective on polynomial equations by considering solutions over many different fields.
    Over the complex numbers, x^3 - 1 has three solutions,
    but over the real numbers we can see with calculus that there is only one solution. Although f = x^2 - 2 has two
    real solutions,
    f has no rational solutions, and over finite fields with q = p^r elements, p prime, using quadratic reciprocity one
    can prove f has a solution if and only if p is congruent to plus or minus 1 mod 8 or n is even. In this project,
    we'll be studying equations in two or more variables with a focus on quadratics and cubics.</p>
<br>

<h5>Elliptic Curves</h5>
<p>Potential Books: Rational Points on Elliptic Curves by Silverman and Tate, Elliptic Curves: Number Theory and
    Cryptography by Washington</p>
<p>Prerequisites: Math 71 or Math 31 or Equivalent </p>
<p>Notes: Elliptic curves are beautiful geometric objects with a very intrecate symmetry structure. We'll learn the
    basics of algebraic curves before diving into proving there is a group law on elliptic curves. Further topics will
    depend on the interests of the student and could take on a more number theoretic or cryptographic direction based on
    the interests of the student.</p>
<br>

<h5>Category Theory for Programmers</h5>
<p>Book: <a href="https://github.com/hmemcpy/milewski-ctfp-pdf/" target="_blank">Category Theory for Programmers</a> by
    Bartosz Milewski</p>
<p>Prerequisites: Some Coding Experience </p>
<p>In this project, we'll learn the basics of category theory and functional programming. We'll write code in Scala or
    Haskell, but no previous knowledge of these languages is assumed. </p>

<br>

<h5>Introduction to Higher Mathematics and Proof</h5>
<p>Prerequisites: Only First Year Students</p>
<p>Notes:This project is aimed at students who are considering declaring a math major but are unsure of what all that
    will
    entail. We will find an interesting topic to study and will learn proof techniques in context. Sample topics include
    the first isomorphism theorem for groups, the variety ideal correspondance for polynomial rings, solving the Pell
    equation, or teaching computers mathematics with the Lean programming language.</p>

<hr>
<h3>Past Projects</h3>
<hr>

<h5>Abstract Algebra and Category Theory </h5>
<p>Catherine Chu, Spring 2023</p>


{% endblock content %}