{% extends "layout.html" %}
{% block content %}


<header>
  <h1>Home</h1>

</header>

<aside>
  <img class="d-block w-30" src="http://209.222.21.77:180/bookshelf.jpg" style="float:right;width:300px;" hspace=10 vspace=10>
</aside>

<p>I'm an undergraduate at Colorado State University. I have broad interests in mathmatics but am particularly interested in category theory and number theory.

<p>You can find my GitHub <a href="https://github.com/lukeask">here</a>.</p>

<p>
My email is lukeask at gmail dot com.
</p>

<table><tr><td><img src="http://math.jhu.edu/~savitt/GTM/eisenbud.jpg" width=120 height=182 alt=""></td><td><p>If I were a Springer-Verlag Graduate Text in Mathematics, I would be David Eisenbud's <b><i>Commutative Algebra with a view towards Algebraic Geometry</i></b>.</p><p>I am an attempt to write on commutative algebra in a way that includes the geometric ideas that played a great role in its formation; with a view, in short, towards Algebraic Geometry. I cover the material that graduate students studying Algebraic Geometry - and in particular those  studying the book Algebraic Geometry by Robin Hartshorne - should know.  The reader should have had one year of basic graduate algebra. </p><p>Which Springer GTM would <i>you</i> be? <a href="http://math.jhu.edu/~savitt/GTM.html">The Springer GTM Test</a></p></td></tr></table>

</div>




{% endblock content %}
