{% extends "layout.html" %}
{% block content %}

  <h4>About Me</h4>
  <p>I'm Luke, an undergraduate mathematics student at Colorado State University planning to graduate with my B.S. in Spring 2022.</p>
  <p>I completed my A.S. in mathematics at Front Range Community College in Spring 2019 concurrent with my high school graduation. In Summer 2019 I participated in an REU at Montana State University comparing tools from Topological Data Analysis for use with LiDAR pointcloud data from Yellowstone National Park.</p>
  <p>You can find my GitHub <a href="https://github.com/lukeask">here</a> and my CV, projects, and coursework using the above navigation bar.</p>

  <h4>Contact</h4>
  <p>Email: <a href="mailto:luke@colostate.edu">luke@colostate.edu</a> </p>
  <p>Linkedin:   <a href="https://www.linkedin.com/in/lukeask/">www.linkedin.com/in/lukeask/</a></p>


{% endblock content %}
