{% extends "layout.html" %}
{% block content %}

<h1 style="text-align:center;">Notes</h1>
<hr>
<h4>Expository Notes</h4>
<p><a href="/static/pdfs/notes/congruent_numbers.pdf">Congruent Numbers</a></p>
<p><a href="/static/pdfs/notes/brauer_manin.pdf">The Brauer Manin Obstruction</a></p>
<hr>
<h4>Talk Notes</h4>
<p><a href="/static/pdfs/notes/kummer_cft.pdf">Computing CFT with Kummer Theory</a></p>
<hr>
<h4>Undergraduate Talk Notes</h4>
<p><a href="/static/pdfs/notes/hilbert10.pdf">Hilbert's 10th Problem</a></p>
<p><a href="/static/pdfs/notes/simplicial_sets.pdf">Simplicial Sets</a></p>
<p><a href="/static/pdfs/notes/topoi.pdf">Topoi</a></p>





{% endblock content %}
