{% extends "layout.html" %}
{% block content %}


<header>
<h1 style="text-align:center;">Teaching</h1>
</header>
<hr>
For information on my directed reading program projects, click <a href="/drp">here</a>. 

<br>
<hr>
<h3>Dartmouth College</h3>
<hr>


<h5>As Reading Course Supervisor</h5>
<hr>

<p>Applied Category Theory, Spring 2023</p>
<p>Mentee: Khadijah Bell,  Faculty Supervisor: <a href="https://math.dartmouth.edu/~annegelb/" target="_blank">Anne Gelb</a></p>

<br>

<h5>As Teaching Assistant</h5>
<hr>

<p>Math 22, Linear Algebra with Applications, Dartmouth College, Winter 2022, DCAL Outstanding Graduate Teacher Award</p>
<p>Math 3, Introduction to Calculus, Dartmouth College, Fall 2022, Course Evaluations: (4.83/5)</p> 

<br>
<hr>
<h3>Front Range Community College</h3>
<hr>


<h5>As Supplemental Instructor</h5>
<hr>

<p>Math 121, College Algebra, Front Range Community College, Spring 2019</p>




{% endblock content %}
