{% extends "layout.html" %}
{% block content %}


<header>
<h1 style="text-align:center;">Teaching</h1>
</header>


<hr>
<h3>Dartmouth College</h3>
<hr>

<h6>As <a href="https://math.dartmouth.edu/~drp/index.html" target="_blank">Directed Reading Program</a> Mentor </h6>

<hr>


<p>Applied Category Theory, Spring 2023</p>
<p>Mentee: Khadijah Bell </p>

<p>Abstract Algebra via Category Theory, Spring 2023</p>
<p>Mentee: Catherine Chu </p>





<br>


<h6>As Teaching Assistant</h6>
<hr>

<p>Math 22, Linear Algebra with Applications, Dartmouth College, Winter 2022</p>
<p>Math 3, Introduction to Calculus, Dartmouth College, Fall 2022, Course Evaluations: (4.83/5)</p> 

<br>
<h3>Front Range Community College</h3>
<hr>

<h6>As Supplemental Instructor</h6>
<hr>

Math 121, College Algebra, Front Range Community College, Spring 2019




{% endblock content %}
